
      <div>
<div class="container">
<h1>About The App</h1>
    <p>
        This website is a medical and developmental <strong class="hero">Milestone Tracker</strong> for children from birth through age 6.
    </p>
    <p>
        After creating an account, users are able to add a child and upload a profile photo if desired. The child's profile will automatically be set up with pre-filled <i class="fa fa-check-circle-o icon-cog-body" aria-hidden="true"></i>&nbsp;<strong class="hero">ToDos</strong> with milestones recommended by the CDC and the age range of when they are expected to occur.
    </p>
    
    <p>
        When the child completes a milestone, the user can mark it complete as a <i class="fa fa-check-circle icon-cog-body" aria-hidden="true"></i>&nbsp;<strong class="hero">TaDas</strong>, add the completion date, and view an updated list of all completed TaDas for each child. That milestone will then be added to our <strong class="hero">Community Triumphs</strong> counter on our homepage!
    </p>
</div>
<div class="container">
<h1>The Team</h1>

<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-4 bg-hero">
      <img src="https://tinytriumphs-upload.s3.amazonaws.com/uploads/cfbecf3f-ef96-45a3-9073-bc2c79567db0-tommyprofile.jpeg" class="card-img-top rounded-circle square-img p-2" alt="Tommy Headshot">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Tommy Lee Hobbes <small class="text-muted">he/him</small></h5>
        <p><a href="https://github.com/tkhobbes43"><i class="fa fa-github counter" aria-hidden="true"></i> GitHub</a>&nbsp; | &nbsp;<a href="https://www.linkedin.com/in/thomas-lee-29a033b2/"><i class="fa fa-linkedin-square counter" aria-hidden="true"></i> LinkedIn</a></p>
        <p class="card-text">Tommy is making a career switch from Logistics to Web Development, and is doing his best "sponge" impression soaking up as much as he can on this journey.  He is a proud father of three, loves to spend time with his kids, and is a huge basketball fan!</p>
      </div>
    </div>
  </div>
</div>
<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-4 bg-hero">
      <img src="https://tinytriumphs-upload.s3.us-east-2.amazonaws.com/uploads/452c4650-697d-47dd-ad84-f073ff6301ad-kalukiprofile.jpg" class="card-img-top rounded-circle square-img p-2" alt="Kaluki Headshot">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Kaluki Museau <small class="text-muted">she/her</small></h5>
        <p><a href="https://github.com/kkmusau"><i class="fa fa-github counter" aria-hidden="true"></i> GitHub</a>&nbsp; | &nbsp;<a href="https://www.linkedin.com/in/kaluki-musau/"><i class="fa fa-linkedin-square counter" aria-hidden="true"></i> LinkedIn</a></p>
        <p class="card-text">Kaluki Musau is a Life Skills Instructor for people with disabilities--particularly autism--with leadership and management experience. Her background is in healthcare and social services but is an aspiring full-stack web developer. She graduated from the University of Illinois at Chicago with a degree in Psychology and for the last 7 years has been working in a non-for profit.</p>
      </div>
    </div>
  </div>
</div>
<div class="card mb-3">
<div class="row g-0">
    <div class="col-md-4 bg-hero">
      <img src="https://tinytriumphs-upload.s3.us-east-2.amazonaws.com/uploads/b894decd-f59c-45ed-8222-359030158d78-alexprofile.jpg" class="card-img-top rounded-circle square-img p-2" alt="Alex Headshot">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Alex Olsavsky <small class="text-muted">she/her</small></h5>
        <p><a href="https://github.com/ajolsavsky"><i class="fa fa-github counter" aria-hidden="true"></i> GitHub</a>&nbsp; | &nbsp;<a href="https://www.linkedin.com/in/alexandra-olsavsky/"><i class="fa fa-linkedin-square counter" aria-hidden="true"></i> LinkedIn</a></p>
        <p class="card-text">Alex is an arts nonprofit executive and profesional vocalist turned Full Stack Web Developer. She leaves no stone unturned when presented with a challenging problem and brings a creative and passionate vitality to every space she inhabits.</p>
      </div>
    </div>
  </div>
</div>
</div>
    </div>

{{!-- 
  <div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="https://tinytriumphs-upload.s3.us-east-2.amazonaws.com/uploads/efc4dea0-624d-4ac9-8113-310226a78bed-dancing.png" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Let's Be Triumphant!</h5>
        <p class="card-text">Keep track of <i class="fa fa-check-circle-o icon-cog-body" aria-hidden="true"></i>&nbsp;ToDos and <i class="fa fa-check-circle icon-cog-body" aria-hidden="true"></i>&nbsp;Tadas from birth through age 6! Never miss another medical appointment or let your little's "firsts" go uncelebrated!</p>
      </div>
    </div>
  </div>
</div> --}}
{{!-- 
  <div class="col-md-2">
    <img src="https://tinytriumphs-upload.s3.us-east-2.amazonaws.com/uploads/0c309973-8636-4b2a-b4fd-6e72163b8b0e-emojisky.com-2788575.png" width="100" height="100">
    </div>
  <div class="col-md-2">
   <h2>A Milestone Tracking App for Ages 0-6</h2>
   </div> --}}