
  <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Let's Be Triumphant!</h1>
    <p class="lead">Keep track of <i class="fa fa-check-circle-o icon-cog-body" aria-hidden="true"></i>&nbsp;<strong class="hero">ToDos</strong> and <i class="fa fa-check-circle icon-cog-body" aria-hidden="true"></i>&nbsp;<strong class="hero">TaDas</strong> from birth through age 6<br>
      <hr class="my-4">
    Never miss another medical appointment or let your little's "firsts" go uncelebrated!</p>
</p>
    <a class="btn btn-light btn-lg" href="/login" role="button">Get Started</a>

  </div>
</div>

<div class="row mb-4 project">

  <div class="col-md-6 card m-3 p-3">
    <h3><i class="fa fa-users icon-cog-body" aria-hidden="true"></i>
Community Triumphs</h3>
    <p>
      <strong class="counter">{{devcount}}</strong> Developmental TaDas completed by all of our Users' Children!<br>
    </p>
      
    <p>
      <strong class="counter">{{medcount}}</strong> Medical TaDas completed by all of our Users' Children!<br>
    </p>
  </div>
    <div class="col-md-5 card m-3 p-3">
    <h4>Want to join the community?</h4> 
    <p>Please sign up <a href="/login">here</a> for all the details!</p>
    <p class="text-center"><img src="https://tinytriumphs-upload.s3.amazonaws.com/uploads/91a09b20-8cbe-4ff1-89e8-b76efb1569e9-chain.svg.png" width="100px" height="auto"></p>

  </div>
</div>