
  <div class="jumbotron jumbotron-fluid">
  <div class="container">
          {{!-- <img src="https://tinytriumphs-upload.s3.us-east-2.amazonaws.com/uploads/efc4dea0-624d-4ac9-8113-310226a78bed-dancing.png" class="img-fluid rounded-start" alt="..."> --}}

    <h1 class="display-4">Let's Be Triumphant!</h1>
    <p class="lead">Keep track of <i class="fa fa-check-circle-o icon-cog-body" aria-hidden="true"></i>&nbsp;<strong class="hero">ToDos</strong> and <i class="fa fa-check-circle icon-cog-body" aria-hidden="true"></i>&nbsp;<strong class="hero">Tadas</strong> from birth through age 6<br>
      <hr class="my-4">
    Never miss another medical appointment or let your little's "firsts" go uncelebrated!</p>
</p>
    <a class="btn btn-light btn-lg" href="/login" role="button">Get Started</a>

  </div>
</div>
{{!-- 
  <div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="https://tinytriumphs-upload.s3.us-east-2.amazonaws.com/uploads/efc4dea0-624d-4ac9-8113-310226a78bed-dancing.png" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Let's Be Triumphant!</h5>
        <p class="card-text">Keep track of <i class="fa fa-check-circle-o icon-cog-body" aria-hidden="true"></i>&nbsp;ToDos and <i class="fa fa-check-circle icon-cog-body" aria-hidden="true"></i>&nbsp;Tadas from birth through age 6! Never miss another medical appointment or let your little's "firsts" go uncelebrated!</p>
      </div>
    </div>
  </div>
</div> --}}
{{!-- 
  <div class="col-md-2">
    <img src="https://tinytriumphs-upload.s3.us-east-2.amazonaws.com/uploads/0c309973-8636-4b2a-b4fd-6e72163b8b0e-emojisky.com-2788575.png" width="100" height="100">
    </div>
  <div class="col-md-2">
   <h2>A Milestone Tracking App for Ages 0-6</h2>
   </div> --}}

<div class="row mb-4 project">

  <div class="col-md-7">
    <h3><i class="fa fa-users icon-cog-body" aria-hidden="true"></i>
Community Triumphs</h3>
    <p>
      <strong class="counter">{{devcount}}</strong> Developmental TaDas completed by all of our Users' Children!<br>
    </p>
      
    <p>
      <strong class="counter">{{medcount}}</strong> Medical TaDas completed by all of our Users' Children!<br>
    </p>
  </div>
    <div class="col-md-5">
    <h4>Want to join the community? Please sign up <a href="/login">here</a> for all the details</h4>
  </div>
</div>