<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>Community TaDas</h2>
    <p>TODO render 3 most recently updated TADAs</p>
  </div>
  <div class="col-md-7">
    <h3>Want to join the community? Please sign up <a href="/login">here</a> for all the details</h3>
  </div>
  <div class="col-md-7">
    <h3>Let's to be Triumphant!</h3>
    <p>
      {{devcount}} Developmental TaDas completed by all of our Users' Children!
    </p>
      {{medcount}} Medical TaDas completed by all of our Users' Children!
    <p>

    </p>
  </div>
</div>
