<div class="row mb-4 project">

  <div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="https://tinytriumphs-upload.s3.us-east-2.amazonaws.com/uploads/0c309973-8636-4b2a-b4fd-6e72163b8b0e-emojisky.com-2788575.png" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Let's Be Triumphant!</h5>
        <p class="card-text">Keep track of <i class="fa fa-check-circle-o icon-cog-body" aria-hidden="true"></i>&nbsp;ToDos and <i class="fa fa-check-circle icon-cog-body" aria-hidden="true"></i>&nbsp;Tadas from birth through age 6! Never miss another medical appointment or let your little's "firsts" go uncelebrated!</p>
      </div>
    </div>
  </div>
</div>

  <div class="col-md-2">
    <img src="https://tinytriumphs-upload.s3.us-east-2.amazonaws.com/uploads/0c309973-8636-4b2a-b4fd-6e72163b8b0e-emojisky.com-2788575.png" width="100" height="100">
    </div>
  <div class="col-md-2">
   <h2>A Milestone Tracking App for Ages 0-6</h2>
   </div>

  <div class="col-md-7">
    <h3>Let's Be Triumphant!</h3>
    <p>
      <strong>{{devcount}}</strong> Developmental TaDas completed by all of our Users' Children!<br>
    </p>
      
    <p>
      <strong>{{medcount}}</strong> Medical TaDas completed by all of our Users' Children!<br>
    </p>
  </div>
    <div class="col-md-7">
    <h4>Want to join the community? Please sign up <a href="/login">here</a> for all the details</h4>
  </div>
</div>