header, .project:not(:last-child) {
    border-bottom: 1px solid #ccc;
  }

  a {
    color: #6f42c1;
    text-decoration: none;
  }

  body {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
  }

  h1 {
    font-weight: 500;
    font-size: x-large;
    color: #6f42c1;
  }

  h2 {
    font-weight: 300;
    font-size: large;
    color: #6f42c1;
  }

  main {
    padding: 1rem;
  }

  .bg-header {
    background-color:#6f42c1 ;
  }

  .icon-cog {
    color: white;
  }

  .icon-cog-body {
    color: #6f42c1;
  }

  .btn-custom {
    font-weight: 300;
    font-size: large;
    color: #6f42c1;
  }

  .counter {
    font-weight: 700;
    font-size: x-large;
    color: #6f42c1;
  }

  .hero {
    font-weight: 700;
    color: #6f42c1;
  }
  /* .no-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: #1b89bc;
    text-decoration: none;
    font-size: 100%;
  }
  
  .no-button:hover {
    color: #065b83;
    text-decoration: underline;
  } */
  
  .logo {
    font-family: 'Sedgwick Ave Display', cursive;
    font-size: 2rem;
    color: white;
  }

  .square-img {
    object-fit: cover;
    width:230px;
    height:230px;
  }

  .xs-font {
    font-weight: 300;
    font-size: small;
  }